body,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

#slogan {
    background: #000;
    color: #f7f8f3;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

#presenter_img {
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}

#check_internet_img{
    width: 120px;
    height: 120px;
    margin-top: 12px;
    border-radius: 50%;
    border: solid #0071bc 1px;
}

#main_div {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

#main_form{
    float: left;
    margin-left: auto;
    margin-right: auto;
}

#login_div {
    color:#f7f8f3;
    cursor: pointer;
    background: #000;
    width: 600px;
    height:32px;
    line-height: 32px;
    text-align: center;
}

#login_div:hover{
    border: solid #0071bc 2px;
}

.login_button {
    color: #f7f8f3;
    cursor: pointer;
    background: #000000;
    border: 0px;
}

#running_outside_div {
    width: 375px;
    height:72px;
    color: #f7f8f3;
    background: #ff6666;
    text-align: center;
}

#running_div{
    width: 375px;
    height: 72px;
    line-height: 72px;
    clear: both;
    left:50%;
    margin-left: -187px;
    position: absolute;
}

.normal_text {
    margin-top: 2px;
    margin-bottom: 3px;
    text-align: center;
    color:#0071bc;
}

.outside_div{
    width: 600px;
    height: 40px;
}

.inside_div_left {
    float: left;
    width: 100px;
}

.inside_div_right{
    float: left;
    margin-left: 15px;
}

.input{
    height: 22px;
    width: 255px;
}

#introduction {
    float: left;
    margin-left: 36px;
}