body,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

#slogan {
    display: none;
    background: #000;
    color: #f7f8f3;
    text-align: center;
    font-size: 36px;
}

#online {
    font-size: 18px;
}

#offline {
    font-size: 18px;
}

#main_div {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

#main_form{
    float: left;
    margin-left: auto;
    margin-right: auto;
}

#login_div {
    color: #3399ff;
    background: #555;
    cursor: pointer;
    width: 100%;
    height:32px;
    line-height: 32px;
    text-align: center;
}

#login_div:hover{
    color:#f7f8f3;
    background: #3399ff;
}

#demo_iframe {
    width: 100%;
    height: 300px;
}

.login_button {
    color: #f7f8f3;
    cursor: pointer;
    background: #000000;
    border: 0px;
}

#running_outside_div {
    width: 375px;
    height:72px;
    color: #f7f8f3;
    background: #ff6666;
    text-align: center;
}

#running_div{
    width: 375px;
    height: 72px;
    line-height: 72px;
    clear: both;
    left:50%;
    margin-left: -187px;
    position: absolute;
}

.normal_text {
    margin-top: 2px;
    margin-bottom: 3px;
    text-align: center;
    color:#0071bc;
}

.outside_div{
    width: 100%;
    height: 40px;
}

.input{
    height: 22px;
    width: 100%;
}

#introduction {
    float: left;
}